= full_form_for [gallery, image] do |f|

  = f.fields do
    = f.row do
      = f.text_field :title
      = f.image_field :image
      
    = f.row do
      = f.text_field :alt
      = f.radio_toggle :published, on_label: 'Yes', off_label: 'No'
      
    = f.row do
      = f.text_area :body, full: true
    
  = f.controls gallery.images_path
