= full_form_for [blog, post] do |f|

  = f.fields do
    = f.row do
      = f.text_field :category
      = f.text_field :title
      
    = f.row do
      = f.text_area :body, full: true
  
    = f.row do
      = f.radio_toggle :published, on_label: 'Yes', off_label: 'No'
      = f.date_field :publish_date
      
  = f.controls blog.posts_path