- if user_signed_in?
  %h1
    Logged in as
    = current_user.email 
  = link_to 'Links', frame.links_path
  %br
  = link_to 'Site', main_app.link_slug_path('home')
  %br
  = link_to 'Log out', main_app.destroy_user_session_path
- else
  %h1 Logged out
  = link_to 'Log in', main_app.new_user_session_path
