- content_for :page_title, "Edit #{blog.title}"

%nav#form_content
  = link_to 'Posts', blog.posts_path

= full_form_for blog do |f|

  = f.fields do
    = render partial: 'frame/pages/common_fields', locals: {f: f, page: blog}
      
  = f.controls links_path
