.page.blog
  %h1= blog.title
  
  != blog.body
  
  %h6 Posts
  
  %ul
    - posts.each do |post|
      %li
        = link_to link.slug_path(content: post) do
          = post.title
          -
          = post.publish_date
