!!! html
%html.backend.frame
  
  %head
    %meta(charset="utf-8")
    %title= content_for(:page_title)
    = stylesheet_link_tag    "frame/bundle", media: "all"
    = javascript_include_tag "frame/bundle"
    = csrf_meta_tags

  %body.backend.frame
    
    - if user_signed_in?
      %nav#navigation
        #level-0
          #logo
            %h1.logo
          
          %ul.nav
            %li
              = link_to main_app.activity_path do
                %span.icon-home Home
      
            %li
              = link_to frame.links_path do
                %span.icon-squares Pages
            
            %li
              = link_to drive.folders_path do
                %span.icon-folder Drive
                
            %li
              = link_to '#' do
                %span.icon-users Admins
            
            %li
              = link_to '#' do
                %span.icon-user Profile
            %li
              = link_to main_app.destroy_user_session_path, method: :delete do
                %span.icon-off Log Out
    
    - if content_for? :context_menu
      %nav#context-menu.expanded
        .wrapper
          = content_for :context_menu

    
    #main
      #wrapper
        = render 'chocolate/style/header'
        
        = yield
      
    
    :coffee
      $ ->
        # Backbone application entry point
        window.cms = new chocolate.style.Cms
          paths:
            frame:
              links: "#{frame.links_path}"
              pages: "#{frame.pages_path}"
            folders: "#{drive.folders_path}"
            selectFolders: '#{drive.select_folders_path}'
        cms.start()
    = content_for(:additional_cms_js)    
