!!! html
%html.frontend
  
  %head
    %meta(charset="utf-8")
    = link.page.head_title_tag prepend: 'Frame Engine'
    = link.page.meta_description_tag

  %body.frontend
    
    - if defined? links
      %h1 Entire menu
      = links.menu active: link, depth: -1
    
      %h2 Root menu
      = links.menu active: link, class: 'level-0'
      
      - if link.depth > 0 && link.has_siblings?
        %h3 Parent menu
        = links.menu active: link, from: link.parent, class: 'level-1'
      
      - if link.has_children?
        %h4 Active menu
        = links.menu from: link, class: 'level-2'
      
      %h5 Breadcrumbs
      = links.menu active: link, active_branch: true, partial: 'layouts/breadcrumbs', root: 'ul', id: 'breadcrumbs'
      
    = yield