- content_for :page_title, "Edit #{gallery.title}"

%nav#form_content
  = link_to 'Images', gallery.images_path

= full_form_for gallery do |f|

  = f.fields do
    = render partial: 'frame/pages/common_fields', locals: {f: f, page: gallery}
      
  = f.controls links_path
