.page.gallery
  %h1= gallery.title
  
  != gallery.body
  
  %h6 Images
  
  %ul
    - images.each do |image|
      %li
        -# TODO image tag with alt
        = link_to link.slug_path(content: image) do
          = image.title