= f.row do
  = f.text_field :title
  = f.select :type, page.select_types
  
= f.row do
  = f.text_area :body, full: true, class: 'ck'
  
= f.row do
  = f.text_field :meta_description
  = f.text_field :head_title