- content_for :page_title, 'Navigation'

#tree
  - sly do
    %ul.roots

  #buffer

- content_for :context_menu do
  .padded
    %h5 All Pages
    %input{id:'search-page', placeholder:'Filter by text'}
    - sly do
      %ul.pages
        - pages.each do |page|
          %li.page{data: {id: page.id}}
            .title>
              = page.title
              %span.id
                = "(##{page.id})"
            .controls<
              = page.link_to_edit_icon
              = page.link_to_delete_icon
              = page.link_to_toggle
            .cl
  .footer
    = link_to 'New', new_page_path, { class: 'right new' }

- content_for :additional_cms_js do
  :coffee
    $ ->
      window.chocolate.frame.links = new chocolate.frame.views.LinksTree
        el: '#tree'
        links: #{links.to_json}
        pages: #{pages.to_json}
