- content_for :page_title, "Edit #{external.title}"

= full_form_for external do |f|

  = f.row do
    = f.text_field :title
    = f.select :type, external.select_types
  
  = f.row do
    = f.text_field :link_url
    = f.select :link_target, external.link_targets
      
  = f.controls links_path
