- content_for :page_title, "Edit #{contact.title}"

%nav#form_content
  = link_to 'Messages', contact.messages_path

= full_form_for contact do |f|

  = f.fields do
    = render partial: 'frame/pages/common_fields', locals: {f: f, page: contact}
      
    = f.row do
      = f.text_field :emails, full: true, label: 'Destination Email (separate multiple with comma)'
    
    
      
  = f.controls links_path
