#tree {
  overflow: visible;

  &.drop-hover {
    background-color: #ddd;
    cursor: move;
  }

  li.branch {

    .bar {
      max-width: 300px;
      padding: 0.5em;
      background: #eee;
      border: 1px solid #aaa;
      @include box-sizing(border-box);
      @include user-select(none);
      cursor: move;
      font-size: 0.9em;

     .id {
       font-size: 0.8em;
       color: #999;
     }

      &.drop-hover {
        background-color: #ccc;
        cursor: move;
      }

      .controls {
        float: right;
        .toggle-children {
          margin-left: 5px;
          color: rgb(244, 162, 51);
          @include opacity(0.3);
          &.active {
            @include opacity(1);
          }
        }

        button {
          padding: 0;
          border: none;
          background: transparent;
        }
      }
    }

    .buffer {
      max-width: 300px;
      height: 0.5em;

      &.drop-hover {
        background-color: #777;
        cursor: move;
      }
    }

    ul.children {
      margin-left: 2em;
      display:none;
    }
  }

  li.branch.active {
    @include opacity(0.35);
  }
}

#buffer {
  margin-top: 3em;
}

#context-menu {

  &.expanded {
    width: 25%;
  }

  .padded {
    padding: 0 1em;
  }

  h5 {
    margin-top: $navigation-margin-top - 28px;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 0.65em;
    color: #888888;
    display: inline-block;
    width: 20%;
  }

  input#search-page {
    display: inline-block;
    position: relative;
    bottom: 1em;
    left: 1em;
    border-bottom: 1px solid rgb(170, 170, 170);
    text-align: center;
    width: 70%;
  }

  ul.pages {
    li {
      padding: 0.25em;
      margin-bottom: 0.25em;
      font-size: 0.8em;
      background: #f7f7f7;
      border: 1px solid #ccc;
      cursor: move;
      @include box-sizing(border-box);
      @include user-select(none);

      .title {
        float: left;
        /*
        overflow: hidden;
        max-width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        */

       .id {
         font-size: 0.8em;
         color: #999;
       }
      }

      .controls {
        float: right;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    margin: 28px 0;
    padding: 0 1em;

    a {
      display:      inline;
      margin:       12px 0;
      line-height:  19px;
      @include flat-button;
      background: #c97e13;
      &:hover {
        background: #da850d;
      }
    }
  }
}
