- content_for :page_title, 'Messages'

#listing
  %table.messages.headings
    %tr
      %th.select
        = pseudo_check_box_tag 'all'
      %th.name Name
      %th.email_address Email address
      %th.phone_number Phone number
      %th.company_name Company name
      %th.company_address Company address
      %th.comments Comments
      
  = sly do
    %table.messages.content
      - messages.each do |message|
        %tr
          %td.select
            = pseudo_check_box_tag 'select[]', message.id, false
          %td.name
            = link_to message.path do
              = message.name
            .controls
              = link_to 'View', message.path
              \|
              = link_to 'Delete', message.path, class: 'delete', method: :delete, data: { confirm: "Are you sure you wish to delete this message?<br/>It cannot be recovered." }
          %td.email_address= mail_to message.email_address
          %td.phone_number= message.phone_number
          %td.company_name= message.company_name
          %td.company_address= message.company_address
          %td.comments_short= message.comments_short

  #controls
    %button.right.delete Delete


