.page.contact
  %h1= contact.title
  
  != contact.body
  
  = form_for message, url: link.slug_path do |f|
  
    - if message.errors.any?
      #error_explanation
        %h2= "#{pluralize(message.errors.count, "error")} prohibited this message from being sent:"
        %ul
          - message.errors.full_messages.each do |msg|
            %li= msg
            
    - if notice
      #notice= notice
    
    .row
      .item
        = f.label :name
        = f.text_field :name
      .item
        = f.label :phone_number
        = f.text_field :phone_number
    .row
      .item
        = f.label :email_address
        = f.text_field :email_address
      .item
        = f.label :company_name
        = f.text_field :company_name
    .row
      .full.item
        = f.label :comments
        = f.text_area :comments
    .row.actions
      .item
        = f.submit 'Send'
