%p#notice= notice

%p
  %b Name:
  = message.name
%p
  %b Email address:
  = message.email_address
%p
  %b Phone number:
  = message.phone_number
%p
  %b Company name:
  = message.company_name
%p
  %b Company address:
  = message.company_address
%p
  %b Comments:
  = message.comments

  #controls
    = link_to 'Back', contact.messages_path, class: 'left back'
