!!! html
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')

  %body
    %h1 New Message Received From Contact Form

    %table
      %tr
        %td Name
        %td= @message.name
      %tr
        %td Email Address
        %td= mail_to @message.email_address
      %tr
        %td Phone Number
        %td= @message.phone_number
      %tr
        %td Company Name
        %td= @message.company_name
      %tr
        %td Company Address
        %td= @message.company_address
      %tr
        %td Comments
        %td= @message.comments
